<% provide(:title, 'Users') %>
<h1>Список пользователей</h1>

<table class="table table-striped">
    <tr>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Дата родения</th>
        <th>Логин</th>
        <th>Email</th>
        <th></th>
    </tr>

    <% @users.each do |user| %>
      <tr>
          <td><%= user.secondname %></td>
          <td><%= user.firstname %></td>
          <td><%= user.patronymic %></td>
          <td><%= user.dateofbirth %></td>
          <td><%= user.login %></td>
          <td><%= user.email %></td>
          <td><%= link_to 'Удалить', user_path(user), method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
</table>